* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.header {
    background-color: rgb(60, 138, 228);
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

.string-box {
    background-color: #eeeeee;
    color: #13070b;
    text-align: center;
}

.color-box-1 {
    background-color: rgb(60, 138, 228);
    height: 30vh;
}

.color-box-2 {
    background-color: rgb(231, 187, 93);
    height: 30vh;
}

.color-box-3 {
    background-color: rgb(93, 231, 190);
    height: 30vh;
}

.color-box-4 {
    background-color: rgb(231, 93, 127);
    height: 30vh;
}

/* For mobile phones: */
@media only screen and (max-width: 576px) {
    .col {
        width: 100%;
        margin: 0.5%;
    }
}

/* For tablets: */
@media only screen and (min-width: 576px) {

    .col-s-1 {
        width: 15.66%;
        margin: 0.5%;
    }

    .col-s-2 {
        width: 32.32%;
        margin: 0.5%;
    }

    .col-s-3 {
        width: 48.98%;
        margin: 0.5%;
    }

    .col-s-4 {
        width: 65.64%;
        margin: 0.5%;
    }

    .col-s-5 {
        width: 82.3%;
        margin: 0.5%;
    }

    .col-s-6 {
        width: 99%;
        margin: 0.5%;
    }
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    .col-1 {
        width: 15.66%;
        margin: 0.5%;
    }

    .col-2 {
        width: 32.32%;
        margin: 0.5%;
    }

    .col-3 {
        width: 48.98%;
        margin: 0.5%;
    }

    .col-4 {
        width: 65.64%;
        margin: 0.5%;
    }

    .col-5 {
        width: 82.3%;
        margin: 0.5%;
    }

    .col-6 {
        width: 99%;
        margin: 0.5%;
    }
}







